<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{#if title}}{{title}} - {{/if}}Discoverly</title>
    <meta name="description" content="{{#if description}}{{description}}{{else}}A product discovery tool{{/if}}">
    
    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body class="min-h-screen bg-gray-50 text-gray-900">
    {{> partials/header}}
    
    <main class="flex-grow">
        {{{ content }}}
    </main>
    
    {{> partials/footer}}
    
    <!-- JavaScript Bundle (includes Alpine.js) -->
    <script type="module" src="/assets/js/main.js"></script>
</body>
</html>